#logo {
    height: 20.625;
    width: 144.375;
    padding: 15px;
}

.nav-bar {
    /* background: green; */
    border-radius: 10px;

    padding-left: 240px;
    padding-right: 240px;

    display: flex;
    justify-content: space-between;

    box-shadow: 2px 1px 2px #eee;
}

.nav-bar-options {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.nav-bar-option {
    padding: 20px;
    color: #666;
    font-size: 0.9rem;
}

#dashboard-image-box {
    display: flex;
    justify-content: center;
}

#dashboard-image {
    width: 1000;
}

#caption {
    text-align: center;
    font-size: 30;
}

#button {
    background-color: #387ed1;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    border-radius: 5px;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 23;
    font-weight: 600;
}

.clickable {
    cursor: pointer;
}